<!-- This page will show the data that got saved -->
<!-- unordered (bulleted) list -->


<ul>
<% for(i=0; i<data.length; i++){   %>

  <li><b>NAME:</b> <%=data[i].name%> <b>CITY:</b> <%=data[i].city%> <b>TEMP:</b> <%=data[i].temp%>  <b>MOOD:</b> <%=data[i].mood%> <b>AVERAGE:</b> <%=data[i].ave%></li>

<% } %>
</ul>
